#root{
	margin: 5rem;
	width: 60vw;
	height: 90vw;
	box-shadow: 0px 1px 10px rgb(111, 111, 111);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #EAEBEF;
	border: 1px solid red;
}


.add-card-button{
	margin: 3vw;
}

.delete-card-button{
	margin: 0;
	justify-self: end;
}

.cards-container {
	width: 80%;
	/* max-height: 50vw; */
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(51, 180, 135);
	border-radius: 20px;
	align-items: center;
	justify-content: flex-start;
	padding: 2vw;
}

.card{
	position: relative;
	width: 100%;
	min-height: 6vw;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 0.5px solid rgb(189, 189, 189);
	border-radius: 10px;
	padding: 2vw;
	transition: transform 0.2s ease;
	flex-shrink: 0;
	/* transition: opacity 1s ease */
	justify-content: center;
	align-items: center;
}


.card .delete-card-button {
	position: absolute;
	top: 0;
	right: 0;
}

.card-input {
	outline: none;
	border: 0px dashed transparent;
	width: 100%;
	min-height: 100%;
	font-size: 2vw;
	font-family: "Ubuntu", sans-serif;
	font-weight: 100;
	box-sizing: border-box;
	resize: vertical;
}