/* paramètres communs des deux boutons */

.delete-button, .add-button{
	background-color: rgb(115, 115, 115);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0.5px 10px rgb(111, 111, 111);
}

.cross {
	height: 90%;
	width: 90%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cross:hover{
	cursor: pointer;
}

.cross div {
	width: 5%;
	height: 70%;
	position: absolute;
	background-color: rgb(231, 231, 231);
	border-radius: 10rem;
}

/* forme des boutons */

.delete-button{
	border-radius: 200%;
}

.add-button{
	border-radius: 20%;
}

/* rotation des croix des boutons */

.delete-button .a{
	transform: rotate(45deg);
}

.delete-button .b{
	transform: rotate(-45deg);
}

.add-button .a{
	transform: rotate(90deg);
}