/* paramètres communs des deux boutons */

.delete-button, .add-button{
	margin: 1rem;
	position: relative;
	background-color: rgb(115, 115, 115);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0.5px 10px rgb(111, 111, 111);
}

.delete-button:hover, .add-button:hover{
	cursor: pointer;
}

.delete-button div, .add-button div {
	width: 5%;
	height: 70%;
	position: absolute;
	background-color: rgb(231, 231, 231);
	border-radius: 10rem;
}

/* forme et rotation de la croix du bouton supprimer */

.delete-button{
	border-radius: 200%;
}

.delete-button .a{
	transform: rotate(45deg);
}

.delete-button .b{
	transform: rotate(-45deg);
}

/* forme et rotation de la croix du bouton ajouter */

.add-button{
	border-radius: 20%;
}

.add-button .a{
	transform: rotate(90deg);
}