* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

body {
	width: 100vw; /* 100% de la largeur de la fenêtre */
	display: flex;
	justify-content: center;
	/* cursor: url('./assets/HANDSCURSOR2.cur'), auto; */
	background-color: white;
}
